<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>維護機器新增</title>
    <style>
     
    </style>
</head>

<body>
    <!-- show below only if session exist -->
    <p align="right">{{username}}&nbsp您好&nbsp</p>
    <form align="right" action="/logout">
        <input type="submit" value="登出" />
    </form>
    <h1 align="center">新增維護機器</h1>
    <!-- show flashed message -->
    {% for message in get_flashed_messages() %}
        <h1 align="center">{{ message }}</h1>
    {% endfor %}

    <table border="2" align="center" CELLPADDING="5">
        <form action="/insert" method="post">
            {% if flag == 'Y' %}
            <tr>
                <td>
                    維護者:
                    <select name="account">
                        {% for k,v in list.items() %}
                            <option value="{{v[0]}}">{{v[1]}} - {{v[0]}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>維護者: {{username}}</td>
            </tr>
            {% endif %}
            <tr>
                <td>請輸入機器ID: <input type="text" name="machine_id"></td>
            </tr>
            <tr>
                <td>起始日期: <input type="date" name="start_date"></td>
            </tr>
            <tr>
                <td>維護頻率: 
                    <select name="maintain_freq">
                        {% for n in range(1,32)%}
                            <option value="{{n}}">{{n}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <input type="submit" value="新增">
                    <input type="button" value="取消" onclick="location.href='./index'">
                </td>
            </tr>
        </form>
    </table>
    
    
    
</body>
</html>