<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>機器管理系統</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    {% if account %}
    <!-- show below only if session exist -->
    <p align="right">{{username}}&nbsp您好&nbsp</p>
    <form align="right" action="/logout">
        <input type="submit" class="btn" value="登出" />
    </form>
    
    <form action="/searching" method="get" align="center" class="form-style-index">
        <h1 align="center">機器系統管理頁面</h1>
        <ul>
            請輸入機器ID:
            <input type="text" name="machine_id">&nbsp&nbsp
            <input type="submit" class="btn" value="搜尋">&nbsp&nbsp
        </ul>
        <p align="center">
            <input type="button" class="btn" value="新增機器" onclick="location.href='./add'">
        </p>
    </form>
    <!-- show flashed message -->
    {% for message in get_flashed_messages() %}
    <h1 align="center">{{ message }}</h1>
    {% endfor %}
    <table  border="2" CELLPADDING="5" align="center" id="customers">
        <tr align="center">
            <th>機器ID</th>
            <th>維護者</th>
            <th>啟用日期</th>
            <th>停用日期</th>
            <th>上次維護日期</th>
            <th>下次維護日期</th>
            <th>機器狀態</th>
            <th>維護頻率</th>
            <th>機器刪除</th>
        </tr>

        {% if search_flag==1 %}
        {% for k,v in data.items() %}
            <tr align="center">
                <td>{{k}}</td>
                {% for cell in v %}
                    <td>{{cell}}</td>
                {% endfor %}
                <td>
                    <form action="/remove" method="post">
                        <input type="hidden" name="machine_id" value="{{k}}">
                        <input type="submit" class="btn_del" value="刪除">
                    </form>
                </td>
            </tr>
        {% endfor %}

        {% else %} 
            {% for k,v in data.items() %}
            <tr align="center">
                <td>{{k}}</td>
                {% for cell in v %}
                    <td>{{cell}}</td>
                {% endfor %}
                <td>
                    <form action="/remove" method="post">
                        <input type="hidden" name="machine_id" value="{{k}}">
                        <input type="submit" class="btn_del" value="刪除">
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    {% if search_flag==1 %}
    <p align="center"><input type="button" class="btn" value="取消搜尋" onclick="location.href='./index'"></p>
    {% endif %}
    {% endif %}
</body>
</html>