<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>機器管理系統</title>
    <style>
        /*父層設定相對定位absolute*/
        .box{
            top: 30%;            
            left: 50%;
            margin: 0;
            position: absolute;
        }
        /*子層設定絕對定位relative*/
        .box_son .content{
            width: 100%;
            height: 100%;
            position: relative;
            transform: translate(-50%, -30%);
        }

    </style>
</head>

<body>
    {% if session %}
    <!-- show below only if session exist -->
    <p align="right">{{session}}您好&nbsp&nbsp</p>
    <form align="right" action="/logout">
        <input type="submit" value="登出" />
    </form>
    <h1 align="center">機器系統管理頁面</h1>
    <table  border="2" CELLPADDING="5" align="center">
        <tr align="center">
            <td>機器ID</td>
            <td>維護日期</td>
            <td>維護間隔</td>
            <td>下次維護日期</td>
            <td>維護者</td>
            <td>機器刪除</td>
        </tr>

        {% for k,v in data.items() %}
        <tr align="center">
            <td>{{k}}</td>
            {% for cell in v %}
                <td>{{cell}}</td>
            {% endfor %}
            {% if session != v[3] %}
                <td>無權限</td>
            {% endif %}
            {% if session == v[3] %}
            <td>
                <form action="/remove" method="post">
                    <input type="hidden" name="machine_id" value="{{k}}">
                    <input type="submit" value="刪除">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    <!--<h2>GET</h2>-->
    <form action="/submit" method="get" align="center">
        <h2>機器搜尋</h2>
        <p>請輸入機器ID: <input type="text" name="machine_id"><input type="submit" value="搜尋"></p>
    </form>

    <table border="2" CELLPADDING="5" align="center">
        <tr align="center">
          <td>機器ID</td>
          <td>維護日期</td>
          <td>維護間隔</td>
          <td>下次維護日期</td>
          <td>維護者</td>
        </tr>
        
        {% if search %}
        <tr align="center">
            {% for cell in search %}
                <td>{{cell}}</td>
            {% endfor %}
            {% if session == search[4] %}
            <td>
                <form action="/remove" method="post">
                <input type="hidden" name="machine_id" value="{{search[0]}}">
                    <input type="submit" value="Remove">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endif %}
    </table>

    <h2 align="center">新增機器</h2>
    <form action="/submit" method="post" align="center">
        <p>請輸入機器ID: <input type="text" name="machine_id"></p>
        <p>起始日期: <input type="date" name="maintain_date"></p>
        <p>維護間隔: <select name="interval">
            {% for n in range(1,32)%}
                <option value="{{n}}">{{n}}</option>
            {% endfor %}
        </select></p>
        <p><input type="submit" value="新增"></p>
    </form>
    <!-- show flashed message -->
    {% for message in get_flashed_messages() %}
        <h1 align="center">{{ message }}</h1>
    {% endfor %}

    {% else %}
    <!-- show below only if session does not exist -->
    <div class="box box_son">
        <div class="content"> 
            <table border="2" align="center" CELLPADDING="5">
                <tr>
                    <td colspan="2" align="center">機器管理系統</td>
                </tr>
                <form action="/login" method="post">
                    <tr>
                        <td colspan="2" align="center">
                            <label>Email:</label>
                            <input type="text" name="username" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><label>密碼:</label></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="登入">
                            <input type="submit" value="註冊">
                        </td>
                    </tr>
                </form>
            </table>
        </div> 
    </div>
    {% endif %}
</body>
</html>