<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    <div class="box box_son">
        <div class="content"> 
            <!-- show flashed message -->
            {% for message in get_flashed_messages() %}
            <p align="center">{{ message }}</p>
            {% endfor %}
            <table border="2" align="center" CELLPADDING="5">
                <tr>
                    <td colspan="2" align="center">機器管理系統</td>
                </tr>
                <form action="/login" method="post">
                    <tr>
                        <td colspan="2" align="right">
                            <label>帳號:</label>
                            <input type="text" name="account" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right">
                            <label>密碼:</label>
                            <input type="text" name="password" required>
                        </td>
                        
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" class="btn" value="登入">
                            <input type="button" class="btn" value="註冊" onclick="location.href='./signup'">
                        </td>
                    </tr>
                </form>
            </table>
        </div> 
    </div>
</body>
</html>