<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
    <style>
        /*父層設定相對定位absolute*/
        .box{
            top: 30%;            
            left: 50%;
            margin: 0;
            position: absolute;
        }
        /*子層設定絕對定位relative*/
        .box_son .content{
            width: 100%;
            height: 100%;
            position: relative;
            transform: translate(-50%, -30%);
        }

    </style>
</head>

<body>
    <!-- <h1>使用者註冊</h1> -->
    <div class="box box_son">
        <div class="content"> 
            <table border="2" align="center" CELLPADDING="5">
                <tr>
                    <td colspan="2" align="center">使用者註冊</td>
                </tr>
                <form action="/signup">
                    <tr>
                        <td colspan="2" align="center">
                            <label>使用者名稱:</label>
                            <input type="text" name="username" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <label>帳號:</label>
                            <input type="text" name="account" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label>密碼:</label>
                            <input type="text" name="password" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <label>信箱:</label>
                            <input type="text" name="email" >
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="button" value="送出" onclick="location.href='./'">
                            <input type="button" value="取消" onclick="location.href='./'">
                        </td>
                    </tr>
                </form>
            </table>
        </div> 
    </div>
</body>
</html>